.cart--wrapper {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 12px;
}

.cart--header {
  color: var(--red);
  margin-bottom: var(--spacing-300);
}

.delivery--type {
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--rose-50);
  border-radius: 8%;
}

.delivery--type p {
  color: var(--rose-900);
}

/* empty card styles */
.desc--wrapper {
  text-align: center;
}
.cart--desc {
  margin-top: 1rem;
  color: var(--rose-500);
}
