:root {
  /* Colors */
  --red: #c73b0f;
  --green: #1ea575;
  --black: #000000;
  --white: #ffffff;
  --rose-50: #fcf8f6;
  --rose-100: #f5eeec;
  --rose-300: #caafa7;
  --rose-400: #ad8a85;
  --rose-500: #87635a;
  --rose-900: #260f08;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1100: 5.5rem;
}

/* Fonts */
@font-face {
  font-family: 'RedHatText';
  src: url('../fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatTextItalic';
  src: url('../fonts/RedHatText-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid orangered; */
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-left: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Red Hat Text', sans-serif;
  background-color: var(--rose-50);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
